<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        {{> menu}}
    </div>
    <h4>{{description}}</h4>
    <div>
        <ul>
            {{#each links}}
            <li><a href="/files/{{this}}" title="{{this}}" download="">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>
</html>